############################
# Terraform
############################
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
terraform.tfvars.json
.crash.log
terraform.lock.hcl
.override.tf
.override.tf.json
*_override.tf
*_override.tf.json

############################
# Secrets / Keys
############################
*.pem
*.key
*.pub
.env
.env.*

############################
# Python
############################
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
.venv/

############################
# Logs
############################
*.log
logs/

############################
# Docker
############################
docker-compose.override.yml

############################
# IDE / Editor
############################
.vscode/
.idea/
*.swp
*.swo

############################
# OS files
############################
.DS_Store
Thumbs.db

